.App {
    background: #111;
    color: #FFF;
    border: #111;
  }

  td {
    padding-left: 15px;
  }

.fp-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000ad;
}

.fp-container .fp-loader{
  top: 30%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}